/* Nicolás Cabrera Rodríguez */

body {
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
 margin: 0;
 padding-bottom: 3rem;
}

#cajaMensajes {
 backdrop-filter: blur(10px);
 background: rgba(0, 0, 0, 0.15);
 bottom: 0;
 box-sizing: border-box;
 display: flex;
 height: 3rem;
 left: 0;
 padding: 0.25rem;
 position: fixed;
 right: 0;
}

#input {
 border-radius: 2rem;
 border: none;
 flex-grow: 1;
 margin: 0.25rem;
 padding: 0 1rem;
}

#input:focus {
 outline: none;
}

#form > button {
 background: #333;
 border-radius: 3px;
 border: none;
 color: #fff;
 margin: 0.25rem;
 outline: none;
 padding: 0 1rem;
}

#mensaje {
 list-style-type: none;
 margin: 0;
 padding: 0;
}

#mensaje > li {
 padding: 0.5rem 1rem;
}


/* #mensaje > li:nth-child(odd) {
 background: #efefef;
} */


/* LISTA */

#div-lista{
  position: fixed;
  border: 3px double black;
  left: 80%;
  top: 5px;
  overflow: auto;
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    min-height: 200px;
    background-color: #333;
    border-radius: 3px;
} 


#ul-lista > li{
    color: #fff;
}

#ul-lista > li::marker{
    animation: pulse 2.5s infinite;
}

@keyframes pulse {
  0% {
    color: #ffffff;
  }
  50% {
    color: #2bff00;
  }

  100% {
    color: #ffffff;
  }
}









/* ANIMACION DE ESTAS ESCRIBIENDO... */
#feedback {

position : fixed;

top : 92%;
left : 45%;

}

.escribiendo{
  position: relative;
  /* -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2)) */
}

.escribiendo span{
  text-align: center;
  position: relative;
  display: inline-block;
  margin-left: 3px;
  color: var(escribiendo);
  /* font-size: 2em; */
  animation: animate 1s ease-in-out infinite;
  animation-delay: calc(.1s*var(--i))
}

@keyframes animate{
  0%{
    transform: translateY(0px)
  }
  20%{
    transform: translateY(-24px)
  }
  40%, 100%{
    transform: translateY(0px)
  }
}

/* POSICIONES */

#room{
  display: none;
}

#login{

  display: block;
}

#app{
  display: none;
}


/* LOGIN */

#login{
  text-align: center;
}



/* ANIMACION DEL BOTON LOGIN */

.botonlogin {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

.botonlogin {
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 20px;
	font-family: 'Staatliches', cursive;
	letter-spacing: 5px;
	background: #000000;
	border: 2px solid black;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
	transition: 500ms;
  color: #fff;
}

.botonlogin:after {
	content: '';
	position: absolute;
	transform: translateX(-55px) translateY(-40px);
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: transparent;
	box-shadow: 0px 0px 50px transparent;
	transition: 500ms;
}

.botonlogin:hover {
	transform: translateY(-5px);
	box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}

.botonlogin:hover:after {
	background: white;
	box-shadow: 0px 0px 20px #000000, 0px 0px 30px #000000, inset 0px 0px 10px #000000;
	animation: spin 1s infinite linear;
}

@keyframes spin{
	25%{transform: translateX(-25px) translateY(-35px);
			width: 15px;
			height: 15px;}
	50% {transform: translateX(-55px) translateY(-30px);
			width: 5px;
			height: 5px;}
	75% {transform: translateX(-85px) translateY(-35px);
			width: 15px;
			height: 15px;}
}

.botonlogin:focus {
	outline: none;
}

/*ANIMACION TEXTO LOGIN*/

#str {
  width: 800px;
  padding: 20px;
  height: auto;
  font-family: sans-serif;
  font-size: 40px;
  margin: 200px auto;
  color: #fff;
  font-weight: bold;
  background: #000
}


.sonido-ico{
  font-size: 20px;
}

.send-ico{
  font-size: 20px;
}

#enviar{
  margin-right: 5px;
}


#timbre{
  margin-right: 5px;
}




/* SALAS */

#room {
  position: absolute;
  width: 300px;
  right: 40%;
  top: 50%;
  
}
#inputSala {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 100px;
  padding: 10px 100px 10px 20px; 
  line-height: 1;
  box-sizing: border-box;
  outline: none;
}
#entrarSala {
  position: absolute;
  right: 3px; 
  top: 3px;
  bottom: 3px;
  border: 0;
  background: #d10909;
  color: #fff;
  outline: none;
  margin: 0;
  padding: 0 10px;
  border-radius: 100px;
  z-index: 2;
}



/*  GIFS ANIMATION */


#snoop_1{
  position: absolute;
  width: 300px;
  right: 80%;
  top: 50%;
  animation: snoop_1 0s infinite;

}

@keyframes snoop_1 {
  100% {
    -moz-transform: rotate(55deg);
  }
  
}
  


#snoop_2{
  position: absolute;
  width: 300px;
  right: 5%;
  top: 50%;
  animation: snoop_2 0s infinite;
}

@keyframes snoop_2 {
  100% {
    -moz-transform: rotate(-55deg);
  }
  
}


#snoop_3{
  position: absolute;
  width: 300px;
  right: 5%;
  bottom: 50%;
  animation: snoop_3 0s infinite;
}


@keyframes snoop_3 {
  100% {
    -moz-transform: rotate(-120deg);
  }
  
}



#snoop_4{
  position: absolute;
  width: 300px;
  right: 80%;
  bottom: 50%;
  animation: snoop_4 0s infinite;
}


@keyframes snoop_4 {
  100% {
    -moz-transform: rotate(120deg);
  }
  
}



#snoop_5{
  position: absolute;
  width: 300px;
  right: 44%;
  top: 50%;
  animation: snoop_5 0s infinite;
}

@keyframes snoop_5 {
  100% {
    -moz-transform: rotate(120deg);
  }
  
}


#snoop{
  display: none;
}

#cena_1{
  position: absolute;
  width: 1000px;
  right: 25%;
  top: 25%;
}

#cena{
  display: none;
}


#toasty1{
  position: absolute;
  width: 300px;
  right: 0.5%;
  top: 70%;

}

#toasty0{
  display: none;
}